body{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
*, *: :before, *: :after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img{
	max-width: 100%;
}



/*--layout--*/
    body{
    	display: grid;
        grid-template-areas: 
        "fejlec"
        "kontent"
    ;
    grid-template-rows: max-content 1fr max-content;
    min-height: 100vh;
    }
    header{
        /*background-color: grey;*/
        grid-area: fejlec;
    }
    main{
        /*background-color: blue;*/
        grid-area: kontent;
    }
/*--layout_end--*/

/*--Általános--*/
,a{
	text-decoration: none;
}

.hatter{
	background-color: #006652;
	background-size: cover;
	margin: 0px;
	padding: 0px;
	background-position: right top;
	background-attachment: fixed;
	height: 100vh;
}
.rolam-hatter{
	background-color: #006652;
	background-size: auto;
	margin: 0px;
	padding: 0px;
	background-position: right top;
	background-attachment: fixed;
	height: auto;
}

img{
	max-width: 100%;
}

/*--Általános_end--*/


/*--azonos_header--*/
    header{
    	line-height: 2rem;
    	font-size: .95rem;
    	text-align: left;
    	padding: .75rem 1rem;
    	background-clip: padding-box;
    	background-image: linear-gradient(to right, white, rgba(255,255,255,0.7));
    	flex-wrap: wrap;
    }
    .dokumentacio.html{
    	display: inline-block;
    }

    header .header_menu{
    	margin: .5rem;
    }
    header .header_menu:hover{
    	color: #666666;
    	text-decoration: underline;
    }
    /*--azonos_header_end--*/

/*--main--*/
.torzs-cim{
font-family: 'Roboto', sans-serif;
	font-size: 200%;
	padding-top: 40vh;
	padding-bottom: -2vh;
	margin-left: 30vw;
	color: #ffff00;
}
.torzs-nev{
	font-family: 'Roboto', sans-serif;
	font-size: 400%;
	margin-left: 40vw;
	margin-top: 2vh;
	line-height: 80%;
	color: #ffff00;
}
.magamrol{
	width: 20%;
	height: auto;
	margin: 40px;
	padding: 80px 50% 40px 20%;
	font-family: 'Roboto', sans-serif;
	font-size: 140%;
	text-align: left;
	color: #ffff00;
}
.magamrol-cim{
	width: 30%;
	height: auto;
	margin: -20px;
	padding: 0px;
	padding-top: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 350%;
	text-align: right;
	text-decoration: underline;
	color: #ffff00;
}
.dokumentalas{
	font-size: 150%;
	color: #ffff00;
	font-family: 'Roboto', sans-serif;
	margin: 0% 30% 50% 0%;
	padding: 10px;
	text-align: justify;
}
.kep img{
    max-height: 25rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    margin-top: 15px;
}
.kep{
	color: #ffff00;
	font-size: 150%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	text-decoration: underline;
	margin-left: 4rem;
	padding-left: 0rem;
	margin-bottom: 50px;
}

/*--main_end--*/
